rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regras para a coleção 'barbers'
    match /barbers/{barberId} {
      // PERMITE que qualquer um (logado ou não) LEIA o documento do barbeiro.
      // APENAS usuários logados podem ESCREVER.
      allow read: if true;
      allow write: if request.auth != null;

      // Regra para a subcoleção 'employees'
      // PERMITE que qualquer um (logado ou não) LEIA os funcionários.
      // APENAS usuários logados podem ESCREVER.
      match /employees/{employeeId} {
        allow read: if true;
        allow write: if request.auth != null;
      }

      // Outras subcoleções dentro de 'barbers' permanecem privadas
      match /clients/{clientId} {
        allow read: if true;
        allow write: if request.auth != null;
      }
      match /appointments/{appointmentId} {
        allow read: if true;
        allow create: if true;
        allow write: if request.auth != null;
      }
    }

    // Regras para a coleção 'clients'
    match /clients/{clientId} {      
      allow read: if true; 
      allow write: if request.auth != null;

      // Regra para a subcoleção 'appointments'
      // PERMITE que qualquer um (logado ou não) LEIA os agendamentos.
      // APENAS usuários logados podem ESCREVER.
      match /appointments/{appointmentId} {
        allow read: if true;
        allow create: if true;
        allow write: if request.auth != null;
      }
    }
  }
}